html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
#mapDiv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.esriRTL label {
  /*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}
.loading-indicator {
  /* Loading status */
  display: none;
  height: 100%;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
}
.app-loading .loading-indicator,
.app-error .loading-indicator {
  /* Show this class when loading or error */
  display: block;
}
.app-loading .loading-indicator {
  /* Loading image */
  background-position: center center;
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
}
.app-error .loading-message {
  /* Error status */
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  text-align: center;
}

/*============================================================================================================================*/

/* general app layout */

.fill {
    margin:0;
    padding:0 !important;
    width:100%;
    height:100%;
}
.noJavaScriptMessage {
    margin: 80px;
    font-size: large;
}
.transparent {
    opacity: 0.0;filter:Alpha(opacity=0);
}
#sidebar {
    width: 320px;
    border-left: 1px solid #CCC;
}

/*============================================================================================================================*/

/* sidebar-header widget */

#sidebarHeading {
    height: 100px;
    border-bottom: 1px solid #CCC;
}
.sideHdrBtns {
    height: 22px;
    padding: 5px;
}
.sideHdrSign {
    color: #007ac2;
    display: inline-block;
    padding: 4px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #CCC;
    cursor: pointer;
}
.sideHdrSign:hover {
    background-color: #007ac2;
    color: white;
}
.sideHdrHelp {
    display: inline-block;
    float: right;
    cursor: pointer;
}
.sideHdrTitle {
    height: 68px;
    line-height: 68px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.popupWidget {
    position:absolute;
    display:none;
    top: 50%;
    left: 50%;
    border: 1px solid #CCC;
    /*margin-left: -100px;
    margin-top:-150px;*/
    background-color: white;
    
}
.popupTitle {
    height: 24px;
    line-height: 24px;
    background-color:none;    
}
.popupTitleText{
    margin-left:5px;
    color:white;
}
.popupContent {
    padding: 10px;
    max-width:350px;
    max-height:300px;
    overflow:auto;
}
.popupClose {
    display:none;
    position:absolute;
    top:0px;
    right: 0px; 
    height:24px;   
}
#textDisplay{
    color: black;
    display: inline-block;
    padding: 4px;
    float: left;
    font-size: 25px;
    font-weight: normal;
}