/* Responsive - Tablets 900px */
 
 @media screen and (max-width:900px) {
 
#mapDiv {
  padding:0px;
  border:none;
  height: 100%;
  width: 100%;
  -moz-border-radius: 0px;
}
      
#headerSection {	
    width:100%;
    float:left;
}

#help {
  max-width:100%;
  height:auto;
  margin: 0 0 10px 0
  
} 

#title {
	border: none;
	background-color: #FFF;
	color: #2a3537;
	font-family:"Arial Black";
	font-size:12pt;
	text-align:center;
	height: 40px;
	margin: 2px;
	padding: 2px;
	overflow: hidden;
}

#signIn {
	height:auto;
	width:auto
}

.footer {
	background-color:#35ac46;
	color:#fff;
	border:none;
	font-family:"Arial Bold";
	font-size:18pt;
	text-align:center;
	overflow:hidden;
}

#add {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px 0
  
}
}
/* Responsive - Tablets 500px */

@media screen and (max-width:500px) {
	
.sideBC {
    width: 100%; 
    
 
}

#headerSection, #contentSection,.footerSection {
    width: auto;
    float: left;	
}

#mapDiv {
    height: 0;
    width: 0;
    display: none;
}
}
